.subTitle{
    font-size: 5vh;
    align-items: center;
    justify-content: center;
}
.meanings{
    display: flex;
   
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: 4px;
    height: 55vh;
}
